/*Estilo general*/
    body {
        
        background: url(../images/background.jpg);
        border-radius: 4px 4px 4px 4px;
        background-repeat: repeat;
    }

/*Fin de estilo general*/


/*Estilo para la cabecera y el menú superior*/
    
    header {
        /*height: 150px;*/
        width: 100%;
        overflow: hidden;
        background-image: url(../images/header.jpg);
    }

    header h2 {
        color: #d7ceb2;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	    font: 45px 'Lobster', helvetica, arial;
        letter-spacing: 5px;
        margin: 5px 5px 0px 25px;
        vertical-align: text-bottom;
    }

    header h3 {
        margin: 0px 0px 0px 70px;
        text-shadow: 0px 1px 1px #4d4d4d, 0px 3px 3px #333;
        color: #ffffff;
        font: 15px 'Lobster', helvetica, arial;
    }
    
    nav {
        overflow: hidden;
        background-color:#dadada;
        font-family: Arial;
        border-radius: 5px 5px 5px 5px;
        margin: 22px 5px 5px 5px;
    }

    nav a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 4px 4px 5px 4px;
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        border-radius: 4px 4px 5px 4px;
    }

    nav a:hover, .dropdown:hover .dropbtn {
        background-color: #f9f9f9;
        border-radius: 4px 4px 4px 4px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 4px 4px 4px 4px;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    #redes {
        text-align: right;
        float: right;
        overflow: hidden;
    }

    #redes img {
        height: 18px;
        width: 18px;
        margin: 0px 0px 0px 0px;
    }


/*Fin del estilo para la cabecera y el menú superior*/

/*Estilo para la sección principal*/
    section {
       width:100%;
       background-color: yellow;
    }

    article {
        float: left;
        background: linear-gradient(-90deg, lightgray , white);
        text-align: justify;
        border: black 1px solid;
        border-radius: 4px 4px 4px 4px;
        padding: 0px 10px 10px 10px;
        margin: 25px 0px 0px 0px;
        width:74%;
        overflow: hidden;
    }

    article #columna {
        display: block;
        margin: 0 4% 0 0;
        float: left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        margin: 0 0 0 0;
        padding: 0px 16px;
        width: 50%;
        background-color: blue;
    }

/*Fin del estilo para la sección principal*/

/*Estilo para el panel lateral*/
    aside {
        float: right;
        background: linear-gradient(-90deg, gray, #dadada);
        width: 110px;
        border-radius: 5px 5px 5px 5px;
        /*position: absolute;
        right:15px;
        top: 80px;*/
        align-content: alignright;
        padding: 0px 0px 150px 10px;
        margin: 25px 0px 0px 5px;
    }

    aside ul {
        padding: 0px 10px 0px 5px;
        margin-top: -15px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-radius: 5px 0px 0px 0px;
    }

    aside ul li:hover {
        /*padding: 0px 10px 0px 2px;*/
        background-color: #f9f9f9;
    }

/*Fin del estilo para el panel lateral*/

/*Estilo para el pie de página*/
    footer {
        bottom : 1px;  
        height : 40px;  
        margin-top : 40px;  
        text-align: center;  
        vertical-align: middle; 
        position:fixed;
        width:100%;
    }

/*Fin del estilo para el pie de página*/



/*Estilos para adaptar el contenido a diferentes dispositivos*/
        /*El normal*/
        @media all and (max-width: 960px) {
            aside {display:block;}
            article {width:74%;}
            .dropdown .dropbtn {padding: 14px 16px;}
            /*header {height: 150px;}
            nav {margin: 22px 5px 0px 5px;}
            header h3 {margin: 60px 0px 0px 85px;}*/

        /*Para móviles*/
        @media all and (max-width: 580px) {
            aside {display:none;}
            article {width:95%;}
            nav {margin: 22px 5px 5px 5px;}
            /*header h3 {margin: 110px 0px 0px 85px;}*/
            /*header {height: 200px;}*/
            article #columna  {
                width: 100% !important;
                background-color: red;
                margin: 0 0 24px 0 !important;
                float: none !important;
                margin-bottom: 0 !important;
            }

        /*Para móviles 2*/
        /*@media all and (max-width: 430px) {
            aside {display:none;}
            article {width:95%;}
            nav {margin: 22px 5px 5px 5px;}
            .dropdown .dropbtn, nav a {padding: 10px 16px;}*/
            /*header {height: 230px;}*/
            /*header h3 {margin: 70px 0px 0px 85px;}*/

/*Fin de estilos para adaptar el contenido a diferentes dispositivos*/

    