/*Estilo general*/
    body {
        
        background-image: url(../images/background.jpg);
        background-repeat: repeat;
    }

/*Fin de estilo general*/


/*Estilo para el menú superior*/
    nav {
        overflow: hidden;
        background-color:#dadada;
        font-family: Arial;
        border-radius: 5px 5px 5px 5px;
        margin-right: 13px;
    }

    nav a {
        float: left;
        font-size: 16px;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        border-radius: 4px 4px 5px 4px;
				
    }

    .dropdown {
        float: left;
        overflow: hidden;
    }

    .dropdown .dropbtn {
        font-size: 16px;    
        border: none;
        outline: none;
        color: black;
        padding: 14px 16px;
        background-color: inherit;
        border-radius: 4px 4px 5px 4px;
    }

    nav a:hover, .dropdown:hover .dropbtn {
        background-color: #f9f9f9;
        border-radius: 4px 4px 4px 4px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 4px 4px 5px 4px;
    }

    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

/*Fin del estilo para el menú superior*/

/*Estilo para la sección principal*/
    section {
        background: linear-gradient(-90deg, lightgray , gray);
        border: black 1px solid;
        border-radius: 4px 4px 4px 4px;
        margin-top: 25px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 75%;
        text-align: justify;
    }

/*Fin del estilo para la sección principal*/

/*Estilo para el panel lateral*/
    aside {
        background: linear-gradient(-90deg, gray, #dadada);
        /*background-color: #ffff80;*/
        width: 15%;
        border-radius: 5px 5px 5px 5px;
        margin-right: 5px;
        position: absolute;
        right:15px;
        top: 80px;
        align-content: alignright;
        padding: 0px 10px 100px 15px;
    }

    aside ul {
        padding: 0px 10px;
        margin-top: -15px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-radius: 5px 0px 0px 0px;
    }

    aside ul li:hover {
        padding: 0px 10px 0px 2px;
        background-color: #f9f9f9;
    }

/*Fin del estilo para el panel lateral*/

/*Estilo para el pie de página*/
    footer {
        margin-top: 50px;
        text-align: center;
        font-style: italic;
        bottom:0;
        left:25%;
    }

/*Fin del estilo para el pie de página*/